*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
#project {
    display: flex;
    flex-direction: column;
}
.centraltxt {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.centraltxt h2 {
    font-size: 35px;
    padding: 30px;
}.centraltxt h2 {
    font-size: 35px;
    padding: 30px;
}
span {
    color: #0f44b8;
}
.projectcont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.row {
    width: 23%;
    height: 57vh;
    border: 1px solid #0f44b8;
    border-radius: 10px;
}
#pic {
    max-width: 280px;
    height: 250px;
    padding: 30px;
}
.row h4 {
    font-size: 13px;
    padding:0 0 15px 15px;
    justify-content: center;
    font-weight: 200;
}
.row-icon {
    padding:0 0 0 15px;
}
.row-text h5 {
    padding:0 0 10px 15px;
}
