*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
  }
#project {
    display: flex;
    flex-direction: column;
    background-color: #2d343f;
}
.row-text h5 {
    font-size: 20px;
    font-weight: 600;
    color: #13bbff;
    text-align: center;
}

.centraltxt {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.centraltxt h2 {
    font-size: 35px;
    padding: 30px;
    color: white;
}
span {
    color: #13bbff;
}
.projectcont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.row {
    width: 20%;
    border-radius: 10px;
    border: 1px solid #13bbff;
}
.row:hover {
    box-shadow: 0 0 20px #13bbff;
}

.rowcard {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-radius: 10px;
}

.row .pixx {
    width: 80%;
}

#pic {
    width: 100%;
    border-radius: 10px;
    height: 160px; 
    border: 1px solid rgba(128, 128, 128, 0.119);
}
.row h4 {
    font-size: .7rem;
    padding: 0 8px;
    justify-content: end;
    text-align: center;
    font-weight: 200;
    color: white;
}


.row-icon {
    margin-top: 10px;
    padding: 5px 20px;
    border: 1px solid #13bbff;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    background: transparent;
    text-decoration: none;
}
.row a {
    color: #fff;
    text-decoration: none;
    }
.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}


@media (max-width:799px) {



}

