*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #13bbff;
    --other-color: #c3cad5;

    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}

body {
    color: #fff;
    background: #1b1f24;
}
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    transition: all .5s ease;
    background: transparent;
}
.logo {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}
span {
    color: #13bbff;
}
.navlist {
    display: flex;
}
.navlist li {
    list-style: none;
}
.navlist a {
    font-size: 1rem;
    font-weight: 500;
    color: #c3cad5;
    margin-left: 40px;
    transition: 0.5s ease;
    text-decoration: none;
}
.navlist a:hover {
    color: #13bbff;
    text-shadow: 3px 3px 20px #13bbff, -2px 1px 30px #fff ;
}
#menu {
    font-size: 25px;
    z-index: 100;
    cursor: pointer;
    display: none;
}
button {
    display: flex;
    padding: 8px 20px;
    background: transparent;
    color: #13bbff;
    border: 2px solid #13bbff;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s ease;
}
button:hover {
    background: #13bbff;
    color: #1b1f24;
    box-shadow: 0 0 20px #13bbff;
    transform: scaleX(1.11);
}
section {
    padding: 110px 16% 90px;
}

#hero {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.content {
    
    width: 45%;
}
.heroImg {
    
    width: 350px;
    height: 350px;
    border: 0px solid #13bbff;
    border-radius: 50%;
    position: absolute;
    right: 230px;
    top: 160px;
    overflow: hidden;
    padding-right: 20px;
}
.hero img {
    width: 100%; 
    display: flex;
    overflow: hidden;
    margin-right: 60px;
}
.content h4 {
    font-size: 1.6rem;
}
.content h1 {
    font-size: 4.5rem;
    font-weight: 800;
    margin: 20px 0px 20px;
    line-height: 1.2;
}

.content p {
    font-size: 1rem;
}








/* .me {
    height: 50vh;
    width: 35%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
  }
  
.rainbow-text {
font-size: 24px;
background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
background-clip: text;
color: transparent;
animation: rainbow-blink 2s linear infinite alternate;
}

@keyframes rainbow-blink {
0% {
    background-size: 400% 100%;
}
100% {
    background-size: 100% 100%;
}
} */
  